<html>
<head>
      <title>Add post</title>
</head>
<body>
    <h2>Add post</h2>
    <form action="addPost" method="POST">
        <div>
            Title <input type="text" name="title">
        </div>
        <div>
            Content <input type="text" name="content">
        </div>
       <input type="submit" value="Submit">
    </form>
</body>
</html>