<html>
<head>
      <title>Delete account</title>
</head>
<body>
    <h2>Do you want to delete your account?</h2>
    <form action="deleteAccount" method="POST">
        <input type="submit" value="Yes">
    </form>
</body>
</html>